<div class="text-center">
    <h1 class="display-3">Bradley Gunn News</h1>
</div>
{{#each posts}}
    <div class="card mb-3 p-3 border-0">
        <h5 class="card-title"><a href="/news/{{Id}}">{{Title}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{Date}}</h6>
        <p class="card-text">{{{Text}}}</p>
    </div>
{{/each}}