<img class="mx-auto d-block" style="max-width: 200px" src="https://drive.google.com/uc?export=view&id=1fnBNvFHNBD0deyNHfXwXyhTsh-C60dxY" />
<div class="text-center">
    <h1 class="display-3">Bradley Gunn Raver</h1>
    <p class="lead">2015-2019</p>
</div>
<div id="banner">
    <div class="text-center">
        <i class="fas fa-3x fa-circle-notch fa-spin"></i>
    </div>
</div>
<h2 id="biography">Biography</h2>
<p>
    Bradley Gunn Raver travels around the globe to dance at music events and in the process infect those he joins at the events with positivity and happiness. Since the inception of Bradley Gunn Raver, he made the decision to experience this sober – an outcome that was reached through both personal preference and due to him having Aspergers. Raving has undoubtedly nurtured into what has now transpired into a healthy obsession, the ideal way of expressing himself and quite simply, a way of life. Whilst on this life-changing journey Bradley documents, publishes and shares his journey on different platforms of social media. His unrelenting determination to spread the message of positivity and emphasise that you should not allow the stigma of a diagnosis to restrict what you want to do in life has witnessed him accumulate a remarkable 100,000 followers on social media, consisting of 60,000 on Facebook and a more than respectable 40,000 on Instagram.
    Bradley’s motto and brand slogan is “Love Life And Rave”, a clear but extremely powerful message that he lives and breathes, and the intertwined three worded slogan is something he is extremely active in rolling out during his networking at events and over the broad spectrum of social media too. The words love, life, and rave encompass everything Bradley stands for and is an accurate reflection and representation of both himself and one that many other like-minded individuals can relate to themselves. One example of how Bradley has been implementing the slogan is by collaborating with numerous respected DJs in dancing videos, the likes of which include: Carl Cox, Seth Troxler, The Martinez Brothers, Nicole Moudaber, Pan-Pot, Peggy Gou, Joris Voorn, Maceo Plex, and Jamie Jones to name but a few. The viral scale of which these feel-good videos have escalated underpins the sheer level of positive influence Bradley is having on not just the underground scene, but many other members of contrasting wider communities.
</p>
<p>
    Bradley’s campaign of spreading the love alongside his antic-filled diary has been featured by BBC THREE as part of their Amazing Humans series in 2017 & him being awarded Mixmag’s raver of the year 2017. Despite only being in its infancy, the progression since the foundation of Bradley Gunn Raver has been nothing short of colossal in such a short time period, with his actions receiving notable recognition from key figures in the industry and people from all around the world, and other important developments ranging everywhere from his “rave reviews” being published on the main page of Ministry of Sound’s website and a memorable KEYNOTE INTERVIEW at the International Music Summit 2018.
</p>
<h2 id="quotes">Quotes</h2>
<blockquote class="blockquote">
    <p class="mb-0">Whilst industry focused, IMS Ibiza continues to be community led in feel; this year spearheading the thought leadership with a Keynote Interview is Bradley Gunn Raver. Arguably Britain’s most influential and prolific raver for the past few years has embraced sober clubbing and directed his care-free passion for dancing into an inspirational and ambassadorial role for self purpose</p>
    <footer class="blockquote-footer">International Music Summit (2018)</footer>
</blockquote>
<blockquote class="blockquote">
    <p class="mb-0">Bradley has had an incredible influence on all of us. His energy and spirit is single-handedly giving people hope everywhere he raves. For me, his positive attitude and energy has inspired me to attempt to go sober for the summer, and hopefully longer. His love for the music and life without any substances is an idea we can all take note from</p>
    <footer class="blockquote-footer">Seth Troxler</footer>
</blockquote>
<h2 id="media">Media</h2>
<h4 id="media-music">Music</h4>
<h5>Phutek and Bradley Gunn Raver - Love Life And Rave</h5>
<p>Bradley Gunn Raver teamed up with Techno producer Phutek to make a track around Bradley's motto "Love Life And Rave". <a href="javascript:$('#llarModal').modal('toggle');">read full story</a></p>
<iframe src="https://open.spotify.com/embed/track/1GSTiAwjcDg6aMnvFMDnyt" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<h4 id="media-videos">Videos</h4>
<div id="videos">
    <div class="text-center">
        <i class="fas fa-3x fa-circle-notch fa-spin"></i>
    </div>
</div>
<h4 id="media-articles">Articles</h4>
<div id="links">
    <div class="text-center">
        <i class="fas fa-3x fa-circle-notch fa-spin"></i>
    </div>
</div>

<div class="modal" id="llarModal" tabindex="-1" role="dialog" aria-labelledby="llarModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="llarModalTitle">Phutek and Bradley Gunn Raver - Love Life And Rave</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <img src="https://drive.google.com/uc?export=view&id=1_GeI7MzYftpWw6oOUbwwZuXAJNhgNzz_" alt="New State Logo" style="max-width: 100px"/>
            <img src="https://drive.google.com/uc?export=view&id=1QWnJOuPS2jNu3CuUdVHAV8gnR0z6A5kM" alt="Love Life And Rave artwork" style="max-width: 200px; float: right"/>
            <h2 class="mt-5">Phutek and Bradley Gunn Raver</h2>
            <h5 class="mt-3">Love Life And Rave</h5>
            <h5>New State Music</h5>
            <h5>Released 16/11/2018</h5>
            <div class="text-center mt-5">
                <strong>Bradley Gunn Raver to Release His First Track With Techno Producer, Phutek</strong>
            </div>
            <p class="mt-3">
                Internet sensation and famous clubber, Bradley Gunn Raver, who has made his life’s mission to dance is releasing his first track in collaboration with well-respected Techno producer, Phutek.  Called ‘Love Life And Rave’ this will be the first time he has swapped the dancefloor for making music.
            </p>
            <p>
                Bradley wrote and performed all the lyrics on the track and the words are designed to be universally appealing to ravers. He approached this by verbalising his emotions and philosophy towards the connective power of music and the clubbing community.
            </p>
            <p>
                Bradley, who has Asperger’s, is a famous face on the global clubbing scene known for his energetic dancing. He chooses to do sober and is always spotted wearing his distinctive BGR T-Shirts and red and blue rave goggles.  
            </p>
            <p>
                Crowned Mixmag’s ‘Raver of The Year’ he’s danced at most of the biggest music festivals and is often seen in pictures across the social media with DJ A-listers such as Carl Cox, Fatboy Slim, Seth Troxler, The Martinez Brothers & Joris Voorn, to name a few.
            </p>
            <p>
                Bradley’s campaign for spreading love was featured in BBC THREE’s ‘Amazing Humans’ series and in May he delivered a Keynote at the International Music Summit in Ibiza where he explained how ‘Dancing gave him the confidence to socialise with people better’. More recently he was invited by BBC Radio 1 to take part in the ‘25 Years of the Essential Mix’ celebratory broadcast. 
            </p>
            <p>
                Bradley chose Phutek as his producing partner because he thought his music had the right level of energy needed to represent the message of  ‘Love Life And Rave’ as well as relating to how Bradley felt about his energy when dancing. 
            </p>
            <p>
                Phutek has produced a driving, energetic Techno track with a heavy rolling and addictive bassline, which sublimely accompanies Bradley’s message ‘Love Life and Rave’.
            </p>
            <p>
                For seven years Phutek’s tracks have been a big part of Techno don, Carl Cox’s soundtrack across the biggest events and festivals around the world, thus shaping Phutek as a producer who is now at the forefront of the ‘Big Room’ Techno sound. Inevitably this resulted in Phutek being signed to Carl Cox’s label, Intec Digital. 
            </p>
            <p>
                Phutek has 25 years’ experience as a DJ and producer and is currently one of the UK’s top Techno artists. His tracks are never far away from the playlists of Techno leading artists such as Adam Beyer, Joseph Capriati, Cristian Varela, Marco Carola and Ritchie Hawtin. Phutek’s releases not only appear on Carl Cox’s Intec Digital but also labels such as Respekt, Eclipse Recordings, IAMT, Yin Yang, Maelstrom and his own formidable label LAYER 909. He performs as a DJ internationally, most notably recently making a debut for Awakenings at their first ever UK event.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
<script>
    queryGraph(
        `{
            topic(name: "bgr") {
                images(group: "bgr-banner") {
                    url
                }
                videos {
                    title
                    embedUrl
                }
                links {
                    url
                }
            }
        }`
    ).then(result => {
        const images = [];
        for (let i = 0; i < result.topic.images.length; i++) {
            const image = result.topic.images[i];
            if (i == 0) {
                images.push(
                    `<div class="carousel-item active">
                        <img class="d-block w-100" src="${image.url}"/>
                    </div>`
                );
            } else {
                images.push(
                    `<div class="carousel-item">
                        <img class="d-block w-100" src="${image.url}"/>
                    </div>`
                );
            }
        }


        document.getElementById("banner").innerHTML = `
        <div id="bgrCarousel" class="carousel slide mb-5" data-ride="carousel">
            <div class="carousel-inner">
                ${images.join()}
            </div>
            <a class="carousel-control-prev" href="#bgrCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#bgrCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>`;

        const videos = result.topic.videos.map(video =>
        `<h5>${video.title}</h5>
        <div class="embed-responsive embed-responsive-16by9 mb-3">
            <iframe class="embed-responsive-item" src="${video.embedUrl}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>`);

        document.getElementById("videos").innerHTML = `${videos.join()}`;

        const links = result.topic.links.map(link => `<li><a href="${link.url}" target="_blank">${link.url}</a></li>`);

        document.getElementById("links").innerHTML = `<ul>${links.join()}</ul>`
    }).catch(error => {
        document.getElementById("banner").innerHTML = `<div class="alert alert-danger"><strong>Error:</strong> ${error}</div>`;
        document.getElementById("videos").innerHTML = `<div class="alert alert-danger"><strong>Error:</strong> ${error}</div>`;
        document.getElementById("links").innerHTML = `<div class="alert alert-danger"><strong>Error:</strong> ${error}</div>`;
    });
</script>