<p class="lead mt-3">The life of Bradley Gunn (rendered)</p>
<h1 class="display-3">Select an episode...</h1>
<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5 mr-lg-4">
        <div class="card border-0">
            <a href="/bgr">
                <img src="https://drive.google.com/uc?export=view&id=1fnBNvFHNBD0deyNHfXwXyhTsh-C60dxY" class="img-fluid"/>
            </a>
            <div class="card-body">
                <h5 class="card-title"><a href="/bgr">Bradley Gunn Raver</a></h5>
                <p class="card-text">BGR 2015-2019</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5 ml-lg-4">
        <div class="card border-0">
            <a href="/bgs">
                <img src="https://drive.google.com/uc?export=view&id=1iPqvIs-MaDIP4D5o-nWYrMLfZDvd0u4O" class="img-fluid"/>
            </a>
            <div class="card-body">
                <h5 class="card-title"><a href="/bgs">Bradley Gunn Sailor</a></h5>
                <p class="card-text">BGS 2019-present</p>
            </div>
        </div>
    </div>
</div>